<div id="carrinho">
  <%= render 'carrinhos'%>
  <div align="right">
    <%if carrinho_atual.itens_carrinho.count > 0%>
      <%= link_to 'Confirmar endereço', criar_pedido_pedidos_path, method: 'post', class: 'btn btn-info'%>
    <%end%>
    <h3 style="display: inline-block"><span class="label label-default">Total: <%= number_to_currency valor_total %></span></h3>
  </div>
</div>
