<%- model_class = Marca -%>
<div class="page-header">
  <h1><%= singular_model_name_for Marca %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:descricao) %>:</strong></dt>
  <dd><%= @marca.descricao %></dd>
</dl>

<%= link_icon_to_back marcas_path%>
