<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-right">
          <li> <%= link_to "Home", galeria_index_path %></li>
          <li><%= link_to "Meus Pedidos", pedidos_path	%></li>
          <li role="presentation"><a href="/carrinhos">Carrinho <span class="badge"><%= "(#{carrinho_atual.itens_carrinho.count})" %></span></a></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: 'delete' %></li>
        </ul>
      </div>
  </div>
</div><br><br>
